*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: chocolate;
}

header{
    text-align: center;
    margin-top: 15px;
}

.caixa{
    background-color: white;
    border-radius: 25px;
    width: 500px;
    margin: auto;
    padding: 15px;
}

.ini{
    margin-bottom: 15px;
}

.conferir{
    cursor: pointer;
    margin-bottom: 15px;

}