*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

header{
    width: 210px;
    margin: 15px auto 15px auto;
    color: white;
}

.caixa{
    background-color: white;
    border-radius: 25px;
    width: 500px;
    margin: auto;
    padding: 15px;
}

.dentro_caixa{
    text-align: center;
}

.horario_bom{
    margin-bottom: 15px;
}

.foto{
    width: 200px;
    height: 200px;
    border-radius: 100%;
    margin-bottom: 15px;
}

.msg{
    font-size: 20px;
}

footer{
    color: white;
    width: 170px;
    margin: 15px  auto;
    font-size: 15px;
}
