*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: rgba(0, 60, 255, 0.573);
}

header{
    text-align: center;
    margin: 15px 0;
    color: white;   
}

.box{
    background-color: white;
    border-radius: 25px;
    width: 500px;
    padding: 15px;
    margin: auto;
}

.tabuada{
    width: 300px;
    margin: auto;
    text-align: center;
}   

select{
    width: 160px;
    margin-top: 15px;

}